body {
    margin: 30px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-family: 'Helvetica','Arial','Sans-serif';
    text-decoration: none;
    color: #20B2AA;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    letter-spacing: 2.5px;
    font-weight: 300;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #20B2AA;
    letter-spacing: 2px;
    font-weight: 300;
    padding-bottom: 0.5cm;
}

h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #20B2AA;
    letter-spacing: 2px;
    font-weight: 300;
    padding-bottom: 0.5cm;
}
p {
    font-size: 11pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.posts li {
    list-style: none;
}
